<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>HD Cat Kisu :P</title>
        <!--Load jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>

    <body>
        <button type="submit" onclick='eat()'>Eat</button>
        <canvas id="cat" width="640" height="640"></canvas>
        <img src="{{ url_for('static', filename='cats/furycat.gif') }}">
    </body>
    
</html>